.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 7rem;
    padding-right: 7rem;
    min-height: 6rem;
}

.navigation img {
    height: 3rem;
}

.items {
    display: flex;
    gap: 1.5rem;
    list-style: none;
}

.items li {
    font-weight: 600;
}

.items a {
    text-decoration: none;
    color: black;
}

.items a:hover {
    color: #CB9386;
    transition: all ease 0.4s;
}