.content-product {
    height: 40rem;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
}

.content-product h2 {
    font-size: 3rem;
}

.features {
    /* margin-top: 0.1rem; */
    display: flex;
    padding: 4rem;
}

.anon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}

.anon p {
    text-align: center;
}