@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600;700;800;900&display=swap');

*,
*::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FFEDE3;
  font-family: 'Gabarito', sans-serif;
}

.container {
  height: 70vh;
  display: flex;
  align-items: center;
  padding: 3rem;
  gap: 5rem;
  margin-bottom: 5rem;
}

.text-intro {
  display: flex;
  flex-direction: column;
  align-items: self-start;
  gap: 2rem;
}

.text-intro h1 {
  font-weight: 800;
  font-size: 4rem;
}

.text-intro p {
  color: gray;
}

.text-intro button {
  padding: 1rem;
  font-family: 'Gabarito', sans-serif;
  border: none;
  background-color: #E34A29;
  color: white;
  font-size: 1rem;
}

.container img {
  height: 25rem;
}